<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.windows.medispenser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_med"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_med"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SpdActivity" />
        <activity android:name=".ui.AddMedActivity" />
        <activity android:name=".ui.PatientListActivity" />
        <activity android:name=".ui.AddPatientActivity" />
        <activity android:name=".ui.MenuActivity" />
        <activity android:name=".ui.SignUpActivity" />
        <activity android:name=".ui.TreatmentListActivity" />
        <activity android:name=".ui.AddTreatmentActivity" />
        <activity android:name=".ui.TreatmentDetailActivity" />
        <activity android:name=".ui.LoadActivity" />
        <activity android:name=".ui.AddLoadActivity" />
        <activity android:name=".ui.ForgottenPasswordActivity" />
    </application>

</manifest>